h2{
    text-align: center;
    padding-top: 80px;
}

#form_block {
    margin: 0 auto;
    margin-top: 40px;
    width: 190px;
}

label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

#result_block{
    margin: 0 auto;
    margin-top: 40px;
    width: 280px;
}

#account_block{
    margin: 0 auto;
    margin-top: 40px;
    width: 280px;
}

#correct_massage{
    color: #0f5132;
    background-color: #d1e7dd;
    text-align: center;
    position: static;
    border-radius: 0.25rem;
    line-height: 40px;
}

#incorrect_massage{
    color: #842029;
    background-color: #f8d7da;
    text-align: center;
    position: static;
    border-radius: 0.25rem;
    line-height: 40px;
}
